calc/vtu*
Ejemplos
.xml
.msh
*.h5
parametros
parametros.old
*.xdmf
__pycache__
*.code-workspace
*.aux
*.toc
*.synctex.gz
*.out
*.log
*.fls
*.fdb_latexmk
informe/img/68622-Text de l'article-101591-1-10-20080204 (1).pdf
informe/img/68622-Text de l'article-101591-1-10-20080204.pdf
informe/img/flecha.png
informe/img/flechas-sin-fondo-png-2.png
